.dashboard_container {
    display: grid;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: linear-gradient(0deg,rgba(34, 193, 195, 1) 10%, rgb(246, 243, 226) 60%);

    .genarator_and_pdocasts_container {
        display: flex;
        height: auto;
    }
}