.full-container{
    background-image: url('../assets/Dashboardbackground.jpg');
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dashboard_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
.podcast_header {
padding-top: 1em;  
}