.nav_bar { 

    .nav_buttons_container {
        display:flex;
        justify-content: right;
        width: 100%;
        gap: 20px;

        .nav_buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }



}