#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  background: #f5f4ed;

}
 body {
  display:grid;
  justify-content: center;
  align-items: center;
  
}
